<!-- <mat-tab-group class="my-tab-group">
  <mat-tab style="width: 50%" label="Employee List"
    ><button mat-button [routerLink]="['/employees']" routerLinkActive="active" ></button></mat-tab>
  <mat-tab style="width: 50%" label="Attendance List">
    <button mat-button  ></button></mat-tab>
</mat-tab-group> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
  <a class="navbar-brand"><mat-icon>donut_small</mat-icon> - {{account}}</a>

  <div id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active mr-3">
        <a class="nav-link" (click)="onChangeAcc()" href="#">Change account<span class="sr-only">(current)</span></a>
      </li>
      <ng-container *ngIf="account == 'HumanResources'">
        <li class="nav-item active mr-3">
          <a class="nav-link" [routerLink]="['/hr/employees']" routerLinkActive="active">Employee list<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/hr/attendance']" routerLinkActive="active">Attendance list<span class="sr-only">(current)</span></a>
        </li>
      </ng-container>

      <ng-container *ngIf="account == 'Operator'">
        <li class="nav-item active mr-3">
          <a class="nav-link" [routerLink]="['/operator/training']" routerLinkActive="active">Training<span class="sr-only">(current)</span></a>
        </li>
      </ng-container>
      
      
      
    </ul>
  </div>

  <a class="navbar-brand"><mat-icon>donut_small</mat-icon></a>
</nav>