<div class="containter mt-3">
  <div class="row">
    <div class="col-3 d-flex flex-column align-items-center justify-content-center">
      <button [disabled]="!serverStatus.django || !serverStatus.fastapi || !serverStatus.database" mat-raised-button color="primary" (click)="checkModelStatus()">Check Model Status</button>
      <div class="m-3" *ngIf="modelStatus">
        Model status: {{modelStatus.status}} <br>
        Time: {{modelStatus.timestamp}}
      </div>
      <button [disabled]="!serverStatus.django || !serverStatus.fastapi || !serverStatus.database" class="mt-3" mat-raised-button color="primary" (click)="startTrain()">Train Model</button>
      <div *ngIf="trainHistory" class="mt-3">
        <div class="d-flex flex-column">
          <!-- <div class="train-history">
            Loss history: <span *ngFor="let loss of trainHistory.history.loss">{{loss}}&nbsp;</span> <br>
            Accuracy history: <span *ngFor="let loss of trainHistory.history.accuracy">{{loss}}&nbsp;</span> <br>
            Validation loss history: <span *ngFor="let loss of trainHistory.history.val_loss">{{loss}}&nbsp;</span> <br>
            Validation Accuracy history: <span *ngFor="let loss of trainHistory.history.val_accuracy">{{loss}}&nbsp;</span>
          </div> -->

          <div class="train-classes">
            Classes: <span *ngFor="let class of trainHistory.classes">{{class}}&nbsp;</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 d-flex flex-row">
      <div class="mr-3" *ngIf="frameInfo">
        <img style="width: 400px; height: 300px;"
              class="card-img-top"
              [src]="'data:image/jpeg;base64,' + frameInfo.current_frame"
            />
      </div>
      <div *ngIf="frameInfo">
        <img style="width: 200; height: 300px;"
              class="card-img-top"
              [src]="'data:image/jpeg;base64,' + frameInfo.last_recognized_frame"
            />
            <p class="mt-3">Employee Id: {{frameInfo.last_employee_id}}</p>
            <p class="mt-3">Timestamp: {{frameInfo.timestamp}}</p>
      </div>
    </div>
    <div class="col-3 d-flex flex-column align-items-start justify-content-center">
      <button *ngIf="!cam" [disabled]="!serverStatus.django || !serverStatus.fastapi || !serverStatus.database" class="mt-3" mat-raised-button color="primary" (click)="startCamera()">Start camera</button>
      <button *ngIf="cam" [disabled]="!serverStatus.django || !serverStatus.fastapi || !serverStatus.database" class="mt-3" mat-raised-button color="primary" (click)="stopCamera()">Stop camera</button>
      <div *ngIf="cameraStatus" class="mt-3">
        {{cameraStatus.message}}
      </div>
    </div>
  </div>
</div>