<div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center ">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input [(ngModel)]="filter.name" matInput placeholder="Name" value="Sushi" />
      </mat-form-field>
    </div>
  
    <div class="col-12 d-flex justify-content-center ">
      <mat-form-field class="example-full-width">
        <mat-label>Surname</mat-label>
        <input [(ngModel)]="filter.surname" matInput placeholder="Surname" value="Sushi" />
      </mat-form-field>
    </div>
   
  
    <div class="col-12 d-flex justify-content-center ">
      <mat-form-field class="example-full-width">
        <mat-label>Department</mat-label>
        <input [(ngModel)]="filter.department" matInput placeholder="Department" value="Sushi" />
      </mat-form-field>
    </div>
  
    <div class="col-12 d-flex justify-content-center ">
      <mat-form-field class="example-full-width">
        <mat-label>Pincode</mat-label>
        <input [(ngModel)]="filter.pincode" matInput placeholder="Pincode" value="Sushi" />
      </mat-form-field>
    </div>
  
    <div class="col-12 d-flex justify-content-center ">
      <button mat-raised-button (click)="confirm()">Search</button>
      <button class="ml-3" mat-raised-button (click)="dialogRef.close()">Back</button>
    </div>
   
    <!-- <mat-form-field class="example-full-width">
      <mat-label>Patronymic</mat-label>
      <input [(ngModel)]="filter.patronymic" matInput placeholder="Ex. Pizza" value="Sushi" />
    </mat-form-field> -->
  </div>
  
</div>
