.images {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    &__card {
        border: 1px solid #e0e0e0;
        border-radius: 5px;
    }
}

.toggle-position {
    position: absolute;
    right: 10px;
    bottom: 10px;
}