<button mat-raised-button (click)="dialogRef.close()">Back</button>
<div style="width: 100wh">
  <!-- <mat-toolbar *ngIf="currentFile" class="progress-bar">
    <mat-progress-bar  color="accent" [value]="progress"></mat-progress-bar>
    <span class="progress">{{ progress }}%</span>
  </mat-toolbar> -->

  <mat-form-field style="width: 100%">
    <div>
      <mat-toolbar>
        <input matInput [value]="fileName" disabled />

        <button
          mat-flat-button
          color="primary"
          [disabled]="!currentFile"
          (click)="upload()"
        >
          Upload
        </button>
      </mat-toolbar>

      <input
        type="file"
        id="fileInput"
        multiple
        (change)="selectFile($event)"
        name="fileInput"
      />
    </div>
  </mat-form-field>
</div>

<div *ngIf="message" class="message">
  {{ message }}
</div>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>List of Files</mat-card-title>
    <button
      class="mr-3"
      mat-raised-button
      color="warn"
      [disabled]="!photosForDeletion || !hasImagesRes"
      (click)="deleteSelectedImages()"
    >
      Delete Selected
    </button>
    <button
      mat-raised-button
      color="warn"
      [disabled]="!hasImagesRes"
      (click)="bulkDelete()"
    >
      Delete All Images
    </button>
  </mat-card-header>
  <div class="d-flex justify-content-center align-items-center mt-5">
    <mat-progress-spinner  *ngIf="loading" mode="indeterminate"></mat-progress-spinner>
  </div>
  <mat-card-content  *ngIf="hasImagesRes">
    <mat-list role="list">
      <div class="images">
        <ng-container *ngFor="let image of images">
          <div class="images__card" style="width: 30%; position: relative">
            <img style="width: 209px; height: 209px;"
              class="card-img-top"
              [src]="'data:image/jpeg;base64,' + image.image"
            />
            <div class="card-body">
              <h5 class="card-title" style="font-size: 16px">
                {{ image.filename }}
              </h5>
              <button
                mat-raised-button
                color="warn"
                (click)="deleteImage(image.filename)"
              >
                Delete Image
              </button>
            </div>
            <mat-slide-toggle
              class="toggle-position"
              (change)="onToggleChange($event, image)"
            ></mat-slide-toggle>
          </div>
        </ng-container>
      </div>

      <!-- <div id="#imagesList" class="d-flex flex-row justify-content-between mb-5">
          <div>
            <p>{{image.filename}}</p>
            <button mat-button (onclick)="">text</button>
          </div>
          <div>
            <img [src]="'data:image/jpeg;base64,' + image.image">
          </div>
        </div> -->
    </mat-list>
  </mat-card-content>
  <div *ngIf="images.length == 0 || loading" style="width: 100%;" class="d-flex flex-column justify-content-center align-items-center mt-5">
    <img src="../../../assets/icons/no-data.png" alt="" class="mb-3">
    <p style="font-size: 24px;">No images found ...</p>
  </div>
</mat-card>
